.wall-info { 
    margin:0;
    padding:0;
    align-items: center;
}

.profile {
    position: relative;
    padding-top: 1%; 
    left: 50%;
    height:200px;
    width:200px;
    border-radius:50%;
}

.profile img {
    border-radius:50%;
    display: inline;
    margin: 0 auto;
    /*margin-left: -35%; */
    height: 100%;
    width: 100%;
}

h1 {
    position: absolute;
    left: 1180px;
    font-style: normal;
    font-weight: normal;
    font-size:45px;
    display: flex;
    top:30px;
    color: #EFEFEF;
    letter-spacing: 0.02em;
}

h3 {
    position: absolute;
    left: 1180px;
    top: 90px;
    font-size:22px;
    display: flex;
    font-style: normal;
    font-weight: normal;
    line-height:2em;
    color: #EFEFEF;
    letter-spacing: 0.02em; 
}

h2 {
   position: absolute;
   left: 980px;
   top: 250px;
   font-size:33px;
   font-style: normal;
   font-weight: normal;
   display: flex;
   letter-spacing: 0.02em;
   color: #FFFEFE;
}

.model1 {
    position: absolute;
    width: 780px;
    height: 58px;
    left: 50px;
    box-shadow: inset 10px 100px 150px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    top: 20px;
}

#progress1 {
    position: absolute;
    width: 720px;
    height: 2vh;
    left: 55px;
    top: 27px;
    border-radius: 50px;
    background-color:#E76F51;
}

.model2 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50px;
    top: 100px;
}

#progress2 {
    position: absolute;
    width: 630px;
    height: 2vh;
    left: 55px;
    top: 27px;
    border-radius: 50px;
    background-color:#E76F51;
}

.model3 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50px;
    top: 180px;
}

#progress3 {
    position: absolute;
    width: 520px;
    height: 2vh;
    left: 55px;
    top: 27px;
    border-radius: 50px;
    background-color:#E76F51;
}

.model4 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50px;
    top: 260px;
}

#progress4 {
    position: absolute;
    width: 340px;
    height: 2vh;
    left: 55px;
    top: 27px;
    border-radius: 50px;
    background-color:#E76F51;
}

.model5 {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50px;
    top: 340px;
}

#progress5 {
    position: absolute;
    width: 180px;
    height: 2vh;
    left: 55px;
    top: 27px;
    border-radius: 50px;
    background-color:#E76F51;
}

.hand img {
    cursor:pointer;
    position: absolute;
    height: 50px;
    width: 49px;
    left: 1850px;
    top: 20px;  
}





