<div class="wall-info">
    <div class="profile"><img src="{{src}}" alt="model1"></div>
    <h1>{{name}}</h1>
    
    <h3>Age: {{age}}<br>Height: {{height}}</h3>

    <h2>Born in Thessaloniki, he started modeling two years ago.<br>
        He is studying modeling and at the same time, he is<br> working on it.</h2>

    <div class ="model1">
        <p style="position:absolute; left:55px; white-space:nowrap; font-size:20px;">{{models[0]?.fullname}}</p>
        <img src="../../../assets/Ellipse.png" width="50" height="50" alt="model1"> 

        <div id="progress1"></div>
        <p style="position:absolute; left:700px; top:30px; font-size:20px;">42069xp</p>
    </div>

    <div class ="model2">
        <p style="position:absolute; left:55px; white-space:nowrap; font-size:20px;">{{models[1]?.fullname}}</p>
        <img src="../../../assets/Ellipse.png" width="50" height="50" alt="model1"> 

        <div id="progress2"></div>
        <p style="position:absolute; left:610px; top:30px; font-size:20px;">42000xp</p>
    </div>

    <div class ="model3">
        <p style="position:absolute; left:55px; white-space:nowrap; font-size:20px;">{{models[2]?.fullname}}</p>
        <img src="../../../assets/Ellipse.png" width="50" height="50" alt="model1"> 

        <div id="progress3"></div>
        <p style="position:absolute; left:500px; top:30px; font-size:20px;">40000xp</p>
    </div>

    <div class ="model4">
        <p style="position:absolute; left:55px; white-space:nowrap; font-size:20px;">{{models[3]?.fullname}}</p>
        <img src="../../../assets/Ellipse.png" width="50" height="50" alt="model1"> 

        <div id="progress4"></div>
        <p style="position:absolute; left:320px; top:30px; font-size:20px;">20000xp</p>
    </div>

    <div class ="model5">
        <p style="position:absolute; left:55px; white-space:nowrap; font-size:20px;">{{models[4]?.fullname}}</p>
        <img src="../../../assets/Ellipse.png" width="50" height="50" alt="model1"> 

        <div id="progress5"></div>
        <p style="position:absolute; left:170px; top:30px; font-size:20px;">1000xp</p>
    </div>

    <div class=hand>
        <img src="./assets/hand.svg" alt="hand for leap">
    </div>


</div>
  