
<!--
  εδω πρεπει να δουμε πως θα κανουμε render το καταλλυλο component αναλογα με την οθονη


  * οπως μπορειτε να δειτε στα αρχεια ειναι χωρισμενα σε αρχεια
  *********************************ΣΗΜΑΝΤΙΚΟ : ΔΕΝ ΠΕΤΑΜΕ ΑΚΥΡΑ ΑΡΧΕΙΑ ΟΠΟΥ ΝΑ ΝΕ ΚΑΙ ΜΕ ΑΚΥΡΑ ΟΝΟΜΑΤΑ***************************************



  Πως μπορω να φτιαξω το ui για κατι :
  {
    1) βρησκουμε τον φακελο του component και μπαινουμε μεσα για να πειραξουμε τα αρχεια
    2) κανουμε uncomment το component και comment τα υπολοιπα
    3) τρεχουμε ng serve και μπαινουμε στο localhost+[PORT]
  }

  Σε περιπτωση που δεν υπαρχει το component
  {
    Η φτιαχουμε χειροκηνιτα τον φακελο του component
    H τρεχουμε ng generate component [COMPONENT NAME] και μετα πρεπει να το βαλουμε εδω με την μορφη που ειναι κατω
  }

  ***************** Για να μην ενοχλουμε τους αλλους καλο θα ηταν να κανουμε καινουργιο branch οποτε κανουμε κατι και τα conflicts τα εχω εγω <3  ******************************
  οτι αλλο ειναι ρωταμε <3

εαν θελουμε να γραψουμε GLOBAL css πηγαινουμε στο ./styles.css
και τα βαζουμε εκει αλλα πρεπει να ειναι global

-->



<!--εδω εχω βαλει μονο main για να φτιαξω τιποτα  :Ρ-->
<!--<app-main-display></app-main-display>-->


<!-- κινητο -->
<!--<app-phone></app-phone>-->

<!--wall-->
<app-wall></app-wall>


<!-- τραπεζακι-->
<!--<app-table></app-table>-->



