<div class="wall-info">
    <h2>Tonight's</h2>
    <h1>Highlights</h1>

    <iframe class="first_video" src="https://www.youtube.com/embed/sdpnVkA-JdU" id="video1"></iframe>
    <p class="text1">Η audition του Έντουαρντ</p>
    <iframe class="second_video" src="https://www.youtube.com/embed/yu1_p1c7VqA"></iframe>
    <p class="text2">Αυτό είναι το μοντέλο που αποχώρησε<br>από το σπίτι του GNTM</p>

    <div class=arrow><img src="./assets/arrow.svg" alt="arrow"></div>
    <div class=hand><img src="./assets/hand.svg" alt="hand for leap"></div>
</div>
