
<!--options top -->
<div class="d-flex justify-content-between pt-3 mb-4" *ngIf="this.state == this.states.OPTION">
    <i class="col fas fa-hand-paper fa-7x d-flex mr-auto px-3"></i>
    <h1 class="col-6 text-center mt-auto">{{userAnswering.username}}</h1>
    <countdown #cd [config]="{leftTime: 10}" class="flex-grow d-flex pr-5 m-0 px-0 mr-auto" style="color:white; font-size: 114px;" (event)="onTimerFinished($event)"></countdown>
    <!-- class="flex-grow d-flex pr-5 m-0 px-0 mr-auto" style="color:white; font-size: 114px;" -->
</div>

<!--buzzers top -->
<div class="d-flex pt-3 mb-4" *ngIf="this.state == this.states.BUZZER">
    <i class="fas fa-hand-paper fa-7x d-flex mr-auto px-3"></i>
</div>

<div id="buzzers" *ngIf="this.state == this.states.BUZZER" class="fixed-bottom d-flex justify-content-between flex-wrap-reverse">
    <app-buzzer *ngFor="let buzzer of buzzers" (click)="changeState(this.states.OPTION);this.userAnswering=buzzer;" class="d-flex m-5 w-auto" [color]="buzzer.color">
    </app-buzzer>
</div>

<div id="options" *ngIf="this.state == this.states.OPTION" class="d-flex flex-column mx-auto mt-5">

    <app-option *ngFor="let option of options" (click)="this.checkAnswer(option)"  [option]='option'
        class=" mx-auto w-75 mb-3">

    </app-option>
</div>

<div *ngIf="this.state == this.states.OPTION" class="fixed-bottom d-flex flex-row-reverse pb-5 pr-5 pt-0 ">
    <i class="fas fa-microphone-alt fa-7x ml-auto"></i>
</div>

<!-- exit btn -->
<div class="d-flex pt-3 mb-4" *ngIf="exit">
    <app-option (click)="leave()" option='Leave Game'
        class=" mx-auto w-25 h-25 mb-3 small">
    </app-option>
</div>
