:host{
    background-color: #345D6D;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 73px;
    font-size: 24px;
    color: white;
}

div{
    font-weight: 300;
    font-size: 24px;
    line-height: 113%;
    color:white;
}