.userInfo{
  display: flex;
  margin:2%
}


.usersContainer{
  background-color:#2A4F5E;
  padding: 1%;
  overflow-y: auto;
  max-width: 1900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
