
<div id = "gettingReady">

      <h1>{{activeUser.username}}</h1>
   <div id="counter">
     10
  </div>
    <div class = "canvas">
       <canvas id = "browser_video"></canvas>
<!--      IP kinitoy apo to app IP Webcam-->
      <img style= "width: 100%;"  id="video" class="video-image" alt="video" src="http://192.168.1.4:5000/video"  >
    </div>

</div>


  <canvas id = "test"></canvas>


<div id = "chooseBestPhoto">
    <h1>
        Choose your best photo
    </h1>
    <div id="choosing">
  <!--      εδω μπαινουν οι εικονες (το ξερω οτι τα εχω κανει για το μπουτσο ...)-->
        <img class ="imageToChoose"   *ngFor="let i of imagesBase64" src="{{i}}" (click)="select(i)">
    </div>


    <div class="  flex-bottom ">
        <!-- <p class="info-pop-up-left">leap away</p> -->
        <img src="assets/vaadin_touch.svg" width="50px">
      </div>
</div>



<div id="personalResaults">
    <h1>Use your phone to vote for {{activeUser.username}}</h1>
    <div id="containerPR">
        <div id="usersResaults">

            <div class ="user" *ngFor="let i of users">
                <img src="../../../assets/Ellipse 18.png" width="100" height="100" alt="">
                <div class="userInfo">
                    <h1>{{i.username}}</h1>
                    <div class = "bar bar-maxed">

                    </div>
                    <h3>Level {{i.level}}</h3>
                </div>
            </div>
        </div>

        <div id="userPhoto">
            <img src="../../../assets/Rectangle 10.svg" alt="">
        </div>
        <div style="position: absolute; bottom:2%;left:2%;">
            <img src="../../../assets/ant-design_mobile-outlined.png" alt="">
        </div>
    </div>


</div>


<div id="congratsUser">
    <h1>congrats {{activeUser.username}}!</h1>
    <div class="flex" style="justify-content: center;">
        <img [src]="selectedPhoto" alt="">
        <h1 style="align-self: center;">+150xp</h1>
    </div>
    <button id="exit" class= "big-btn">Exit</button>
</div>

