
<div class="wall">
  <!--overlay-->
  <div class="overlay" id="ov">
    <div class="trophy"><img src="./assets/trophy.svg" width="40" alt="trophy"></div>
    <div class="group"><img src="./assets/group.svg" width="40" alt="group"></div>
    <div class="video-player"><img src="./assets/video-player.svg" width="40" alt="video-player"></div>
    <div class="close"><img src="./assets/close.svg" width="40" alt="close"></div>

    <p style="color: #FFB500; position:absolute; left:135px; top:20px; font-size:25px;">Notifications</p>

    <img src="./assets/game-white.svg" width="40" style="position:absolute; left:130px; top:85px" alt="game">
    <p style="color: #FFFFFF; position:absolute; left:185px; top:80px; font-size:20px;">
      game session started<br>
      click accept on your phone to join</p>

    <img src="./assets/user.svg" width="40" style="position:absolute; left:130px; top:170px" alt="user">
    <p style="color: #FFFFFF; position:absolute; left:185px; top:175px; font-size:20px;">
      Welcome {{user}}</p>
  </div>

  <h1 class="header">TODAY’S CONCEPT:<br>MERMAIDS</h1>
  <div class="logo">
      <img src="./assets/GNTM-Logo.png" alt="GNTM LOGO">
  </div>
  

   <div class="model1">
        <div class="model_icon">
          <img src="{{image1}}" width="30" alt="model1">
        </div>
        <div class="circle">1</div>
        
        <p class="model_info"><a [routerLink]="['/wall/models-info', modelName1]" routerLinkActive="active">{{models[0]?.name}}</a><br>{{models[0]?.points}}</p>
   </div>

    <div class="model2">
       <div class="model_icon">
        <img src="{{image2}}" width="30" alt="model1"> 
        </div> 
        <div class="circle">2</div>  
        <p class="model_info"><a [routerLink]="['/wall/models-info', modelName2]" routerLinkActive="active">{{models[1]?.name}}</a><br>{{models[1]?.points}}</p>
    </div>

    <div class="model3">
       <div class="model_icon">
        <img src="{{image3}}" width="30" alt="model1">  
        </div>
        <div class="circle">3</div>
        <p class="model_info"><a [routerLink]="['/wall/models-info', modelName3]" routerLinkActive="active">{{models[2]?.name}}</a><br>{{models[2]?.points}}</p> 
    </div>
    
    <p class="episode">{{episode}}</p>

    <div id="progress">
       <div id="bar">
           <p class="time">{{time}}</p>
       </div>
    </div>
    
</div>


