
<div class="wall">
    <h1>TODAY’S CONCEPT:<br>MERMAIDS</h1>
    <img src="./assets/GNTM-Logo.png" alt="GNTM LOGO">
     <!--<img src="Hraklis.jpg" class="model1" alt="Model1">-->

   <div class="model1">
        <div class="model_icon">
          <div class="circle">1</div>
        </div>
        <p class="model_info"><a href="/models-info">{{models[0]?.name}}</a><br>{{models[0]?.points}}</p>  
   </div>
  

    <div class="model2">
       <div class="model_icon">
           <div class="circle">2</div>
        </div>
        
        <p class="model_info"><a href="/models-info">{{models[1]?.name}}</a><br>{{models[1]?.points}}</p>  
    </div>

    <div class="model3">
       <div class="model_icon">
           <div class="circle">3</div>
        </div>
        <p class="model_info"><a href="/models-info">{{models[2]?.name}}</a><br>{{models[2]?.points}}</p>  
    </div>
    
    <!--Auta ta 2 einai analoga me to epeisodio (poio epeisodio einai, se poio lepto vrisketai)-->
    <p class="episode">s03e44</p>

    <div id="progress">
       <div id="bar">
           <p class="time">16:30</p>
       </div>
    </div>
</div>


