.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: #264653;
}

.wall { 
    background-color: #264653;
}

p {
   left:50px;
}


.wall h1 {
    top: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 110%;
    font-family: Ubuntu;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #E0E0E0;
}

.logo img {
    position: absolute;
    width: 211px;
    height: 68px;
    left: 30px;
    top: 40px;
}

.model1 {
    position: absolute;
    width: 171px;
    height: 87px;
    left: 320px;
    top: 175px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;

    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #C2C2C2;
}

.model2 {
    position: absolute;
    width: 171px;
    height: 87px;
    left: 620px;
    top: 175px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;

    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #C2C2C2;
}

.model3 {
    position: absolute;
    width: 171px;
    height: 87px;
    left: 920px;
    top: 175px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;

    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #C2C2C2;
}

.circle {
    position: absolute;
    background-color:#264653;
    border:1px solid rgb(0, 0, 0);    
    height:25px;
    width:25px;
    top: 48%;
    left: 13%;
    border-radius:50%;
    text-align: center;
    color: #F9F9F9;
}

.model1_icon {
    position: relative;
    top: -10%; 
    left: -5%;
    height:55px;
    width:55px;
    overflow: hidden;
    border-radius:50%;
}

.model1_icon img {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 4em; height: 4em;
    margin: -2em;
}

.model_icon {
    position: relative;
    background-color:#000000;
    top: -10%; 
    left: -5%;
    height:55px;
    width:55px;
    border-radius:50%;
}

a {
    text-decoration: none;
}

p.model_info {
    position: absolute;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    left: 55px;
    top: 5px;  
    letter-spacing: 0.02em;
}

p.episode {
    position: absolute;
    left: 40px;
    top: 239px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 100%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    display: flex;
    color: #FFFFFF;
}

#progress {
    position: absolute;
    width: 1300px;
    height: 37px;
    left: 30px;
    top: 290px;
    border-radius: 50px;
    background-color:#336971;
}
  
#bar {
    position: absolute;
    width: 181px;
    height: 37px;
    left: 0px;
    top: 0px;
    border-radius: 50px;
    background-color: #FFB500;
}

/* 16:30 */
p.time {
    position: absolute;
    left: 130px;
    top: -5px;
    font-family: Ubuntu;
    font-size: 15px;
    line-height: 113%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;

    color: #365559;
}