.btn-primary{
  border-radius: 20px;
  padding-top: 1%;
  border:none;
  background-color: transparent;
  box-shadow: 6px 6px 15px rgb(0,0,0 , 0.5) , -6px -6px 15px rgb(141,141,141 , 0.5);
  color: whitesmoke;
  font-size: x-large;
  text-decoration: none;
  height: min-content;
  width: auto;
  transition-duration: 0.5s;
}

.btn:hover{
  transition-duration: 0.2s;
  color:#EE7B90;
  box-shadow: 6px 6px 15px rgb(0,0,0) , -6px -6px 15px rgb(141,141,141);
}



