


<div id = "gettingReady">

    <h1>{{activeUser.username}}</h1>

<!-- <div id="counter">
    <h1 id="countdown-number"></h1>
    <svg>
        <circle r="60" cx="200" cy="100">ela</circle>
    </svg>
</div> -->


</div> 



<div id = "choosePhoto">
    <div class ="photo">
        <img src="../../../assets/Rectangle 72.png" height="350" alt="">
        <div class="like">
            <h1>{{activeUser.username}}</h1>
            <div class="flex">
                <img src="../../../assets/simple-line-icons_like.svg" alt="">
                <h1  class="mg-2">1</h1>
            </div>

            <div class="flex mg-top-2">
                <img src="../../../assets/simple-line-icons_dislike.svg" alt="">
                <h1 class="mg-2"> 2</h1>
            </div>
        </div>  
    </div>
    
    <div class ="photo">
        <img src="../../../assets/Rectangle 72.png" height="350" alt="">
        <div class="like">
            <h1>{{activeUser.username}}</h1>
            <div class="flex">
                <img src="../../../assets/simple-line-icons_like.svg" alt="">
                <h1  class="mg-2">1</h1>
            </div>

            <div class="flex mg-top-2">
                <img src="../../../assets/simple-line-icons_dislike.svg" alt="">
                <h1 class="mg-2"> 2</h1>
            </div>
        </div>  
    </div>
    <div class ="photo">
        <img src="../../../assets/Rectangle 72.png" height="350" alt="">
        <div class="like">
            <h1>{{activeUser.username}}</h1>
            <div class="flex">
                <img src="../../../assets/simple-line-icons_like.svg" alt="">
                <h1  class="mg-2">1</h1>
            </div>

            <div class="flex mg-top-2">
                <img src="../../../assets/simple-line-icons_dislike.svg" alt="">
                <h1 class="mg-2"> 2</h1>
            </div>
        </div>  
    </div>
    <div class ="photo">
        <img src="../../../assets/Rectangle 72.png" height="350" alt="">
        <div class="like">
            <h1>{{activeUser.username}}</h1>
            <div class="flex">
                <img src="../../../assets/simple-line-icons_like.svg" alt="">
                <h1  class="mg-2">1</h1>
            </div>

            <div class="flex mg-top-2">
                <img src="../../../assets/simple-line-icons_dislike.svg" alt="">
                <h1 class="mg-2"> 2</h1>
            </div>
        </div>  
    </div>
    <div class ="photo">
        <img src="../../../assets/Rectangle 72.png" height="350" alt="">
        <div class="like">
            <h1>{{activeUser.username}}</h1>
            <div class="flex">
                <img src="../../../assets/simple-line-icons_like.svg" alt="">
                <h1  class="mg-2">1</h1>
            </div>

            <div class="flex mg-top-2">
                <img src="../../../assets/simple-line-icons_dislike.svg" alt="">
                <h1 class="mg-2"> 2</h1>
            </div>
        </div>  
    </div>
    <div class ="photo">
        <img src="../../../assets/Rectangle 72.png" height="350" alt="">
        <div class="like">
            <h1>{{activeUser.username}}</h1>
            <div class="flex">
                <img src="../../../assets/simple-line-icons_like.svg" alt="">
                <h1  class="mg-2">1</h1>
            </div>

            <div class="flex mg-top-2">
                <img src="../../../assets/simple-line-icons_dislike.svg" alt="">
                <h1 class="mg-2"> 2</h1>
            </div>
        </div>  
    </div>
    

</div>