


<div id = "gettingReady">

    <h1>{{activeUser.username}}</h1>

<!-- <div id="counter">
    <h1 id="countdown-number"></h1>
    <svg>
        <circle r="60" cx="200" cy="100">ela</circle>
    </svg>
</div> -->


</div> 



<div id = "voteResaults">
    <div class ="photo">
        <img src="../../../assets/Rectangle 72.png" height="350" alt="">
        <div class="like">
            <h1>{{activeUser.username}}</h1>
            <div class="flex">
                <img src="../../../assets/simple-line-icons_like.svg" alt="">
                <h1  class="mg-2">1</h1>
            </div>

            <div class="flex mg-top-2">
                <img src="../../../assets/simple-line-icons_dislike.svg" alt="">
                <h1 class="mg-2"> 2</h1>
            </div>
        </div>  
    </div>
    
    <div class ="photo">
        <img src="../../../assets/Rectangle 72.png" height="350" alt="">
        <div class="like">
            <h1>{{activeUser.username}}</h1>
            <div class="flex">
                <img src="../../../assets/simple-line-icons_like.svg" alt="">
                <h1  class="mg-2">1</h1>
            </div>

            <div class="flex mg-top-2">
                <img src="../../../assets/simple-line-icons_dislike.svg" alt="">
                <h1 class="mg-2"> 2</h1>
            </div>
        </div>  
    </div>
    <div class ="photo">
        <img src="../../../assets/Rectangle 72.png" height="350" alt="">
        <div class="like">
            <h1>{{activeUser.username}}</h1>
            <div class="flex">
                <img src="../../../assets/simple-line-icons_like.svg" alt="">
                <h1  class="mg-2">1</h1>
            </div>

            <div class="flex mg-top-2">
                <img src="../../../assets/simple-line-icons_dislike.svg" alt="">
                <h1 class="mg-2"> 2</h1>
            </div>
        </div>  
    </div>
    <div class ="photo">
        <img src="../../../assets/Rectangle 72.png" height="350" alt="">
        <div class="like">
            <h1>{{activeUser.username}}</h1>
            <div class="flex">
                <img src="../../../assets/simple-line-icons_like.svg" alt="">
                <h1  class="mg-2">1</h1>
            </div>

            <div class="flex mg-top-2">
                <img src="../../../assets/simple-line-icons_dislike.svg" alt="">
                <h1 class="mg-2"> 2</h1>
            </div>
        </div>  
    </div>
    <div class ="photo">
        <img src="../../../assets/Rectangle 72.png" height="350" alt="">
        <div class="like">
            <h1>{{activeUser.username}}</h1>
            <div class="flex">
                <img src="../../../assets/simple-line-icons_like.svg" alt="">
                <h1  class="mg-2">1</h1>
            </div>

            <div class="flex mg-top-2">
                <img src="../../../assets/simple-line-icons_dislike.svg" alt="">
                <h1 class="mg-2"> 2</h1>
            </div>
        </div>  
    </div>
    <div class ="photo">
        <img src="../../../assets/Rectangle 72.png" height="350" alt="">
        <div class="like">
            <h1>{{activeUser.username}}</h1>
            <div class="flex">
                <img src="../../../assets/simple-line-icons_like.svg" alt="">
                <h1  class="mg-2">1</h1>
            </div>

            <div class="flex mg-top-2">
                <img src="../../../assets/simple-line-icons_dislike.svg" alt="">
                <h1 class="mg-2"> 2</h1>
            </div>
        </div>  
    </div>
    

</div>



<div id = "chooseBestPhoto">
    <h1>
        Choose your best photo
    </h1>
    <div id="choosing">
        <img src="../../../assets/Rectangle 10.svg" alt="">
        <img src="../../../assets/Rectangle 10.svg" alt="">
        <img src="../../../assets/Rectangle 10.svg" alt="">
        <img src="../../../assets/Rectangle 10.svg" alt="">
        <img src="../../../assets/Rectangle 10.svg" alt="">
    </div>


    <div class="  flex-bottom ">
        <!-- <p class="info-pop-up-left">leap away</p> -->
        <img src="assets/vaadin_touch.svg">
      </div>
</div> 