
<p id = "timer">
waiting users to join
</p>




<div class ="full-screen" id="recording-catwalk">
  <iframe id="videoToRecord" src="http://192.168.1.4:5000/video" alt="" width="1920" height="1080"></iframe>
</div>






<div id="videoPreview">
    <h1>Use your phone to vote for {{activeUser.username}}</h1>
    <div>
      <iframe src={{phoneIP}} alt=""></iframe>
    </div>
</div>




<div id = "voteResaults">
    <div class ="photo" *ngFor="let u of users">
        <img src="../../../assets/Rectangle 72.png" height="350" alt="">
        <div class="like">
            <h1>{{u.username}}</h1>
            <div class="flex">
                <img src="../../../assets/simple-line-icons_like.svg" alt="">
                <h1  class="mg-2">1</h1>
            </div>

            <div class="flex mg-top-2">
                <img src="../../../assets/simple-line-icons_dislike.svg" alt="">
                <h1 class="mg-2"> 2</h1>
            </div>
        </div>
    </div>




</div>
