body {
  padding: 0;
  margin: 0;
  background: #ffffff;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: #264653;
}

.wall {
    height: 350px; 
    background-color: #264653;
}

.wall h1 {
    position: absolute;
    width: 1046px;
    height: 88px;
    left: 437px;
    top: 27px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 110%;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;

    color: #E0E0E0;
}

.wall img {
    position: absolute;
    width: 211px;
    height: 68px;
    left: 20px;
    top: 27px;
}

.model1 {
    position: absolute;
    width: 171px;
    height: 87px;
    left: 355px;
    top: 170px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;

    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #C2C2C2;
}

.model2 {
    position: absolute;
    width: 171px;
    height: 87px;
    left: 655px;
    top: 170px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;

    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #C2C2C2;
}

.model3 {
    position: absolute;
    width: 171px;
    height: 87px;
    left: 955px;
    top: 170px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;

    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #C2C2C2;
}

.circle {
    position: absolute;
    background-color:#264653;
    border:1px solid rgb(0, 0, 0);    
    height:25px;
    width:25px;
    top: 50%;
    left: 50%;
    border-radius:50%;
    text-align: center;
    color: #F9F9F9;
}

.model_icon {
    position: relative;
    background-color:#000000; 
    top: -10%; 
    left: -5%;
    height:55px;
    width:55px;
    border-radius:50%;
}

p.episode {
    position: absolute;
    width: 50px;
    height: 30px;
    left: 35px;
    top: 248px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 100%;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}

#progress {
    position: absolute;
    width: 1300px;
    height: 37px;
    left: 30px;
    top: 277px;
    border-radius: 50px;
    background-color:#336971;
}
  
#bar {
    position: absolute;
    width: 181px;
    height: 37px;
    left: 0px;
    top: 0px;
    border-radius: 50px;
    background-color: #FFB500;
}

/* 16:30 */
p.time {
    position: absolute;
    width: 50px;
    height: 30px;
    left: 130px;
    top: 3px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 113%;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;

    color: #365559;
}














