.wall-info { 
    background-color: #264653;
}

.profile {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 77px;
    top: 52px;
    background: #C4C4C4;
    border: 2px solid #000000;
    border-radius:50%;
}

h1 {
  position: absolute;
  left: 400px;
  top: 42px;
  font-family: Ubuntu;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #EFEFEF;
}

h2 {
  position: absolute;
  left: 100px;
  top: 148px;
  font-family: Ubuntu;
  font-size: 25px;
  line-height: 100%;
  align-items: center;
  letter-spacing: 0.03em;
  color: #EFEFEF;
}

p.fullname {
    position: absolute;
    left: 40px;
    top: 180px;
    font-family: Ubuntu;
    font-size: 22px;
    line-height: 100%;
    align-items: center;
    letter-spacing: 0.03em;
    color: #EFEFEF;
}

p.twitter {
   position: absolute;
   left: 40px;
   top: 210px;

   font-family: Ubuntu;
   font-size: 22px;
   line-height: 100%;
   align-items: center;
   letter-spacing: 0.03em;
   color: #EE7B90;
}

.photo1 {
    position: absolute;
    height: 100px;
    width: 70px;
    left: 400px;
    top: 120px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #C4C4C4;
}

.photo2 {
    position: absolute;
    height: 100px;
    width: 70px;
    left: 500px;
    top: 120px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #C4C4C4;
}

.photo3 {
    position: absolute;
    height: 100px;
    width: 70px;
    left: 600px;
    top: 120px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #C4C4C4;
}

.photo4 {
    position: absolute;
    height: 100px;
    width: 70px;
    left: 700px;
    top: 120px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #C4C4C4;
}

.photo5 {
    position: absolute;
    height: 100px;
    width: 70px;
    left: 800px;
    top: 120px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #C4C4C4;
}

img {
    position: absolute;
    height: 36px;
    width: 35px;
    left: 1060px;
    top: 27px;  
}

#progress {
    position: absolute;
    width: 100px;
    height: 13px;
    left: 1000px;
    top: 250px;
    border-radius: 20px;
    background-color:#2D657C;
}
  
#bar {
    position: absolute;
    width: 30px;
    height: 13px;
    left: 0px;
    top: 0px;
    border-radius: 20px;
    background-color: #FFB500;
}

p.xp {
   position: absolute;
   left: 1000px;
   top: 200px;
   font-family: Ubuntu;
   font-size: 23px;
   line-height: 100%;
   letter-spacing: 0.03em;
   color: #EFEFEF;
}

p.level {
    position: absolute;
    left: 3px;
    top: 2px;
    font-family: Ubuntu;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #EFEFEF;
}







