
<div class="wall-info">
    <div class="profile"></div>

    <h2>{{users[0]?.username}}</h2>
    <h1>Top Photos</h1>

    <p class="fullname">Fullname Goes Here</p>
    <p class="twitter">@TwitterUsername</p>

    <div class="photo1"></div>
    <div class="photo2"></div>
    <div class="photo3"></div>
    <div class="photo4"></div>
    <div class="photo5"></div>

    <img src="./assets/hand.svg" alt="hand for leap">

    <p class="xp">42069xp</p>
    <div id="progress">
        <div id="bar">
           <p class="level">level3</p>
        </div>
    </div>
</div>
