.wall-info { 
    margin:0;
    padding:0;
    align-items: center;
}

.profile {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 100px;
    top: 60px;
    background: #C4C4C4;
    border: 2px solid #000000;
    border-radius:50%;
}

.arrow img {
    cursor:pointer;
    position: absolute;
    height: 40px;
    width: 39px;
    left: 11px;
    top: 5px;  
}

h1 {
  position: absolute;
  left: 500px;
  top: 50px;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #EFEFEF;
}

h2 {
  position: absolute;
  left: 85px;
  top: 250px;
  font-size: 30px;
  line-height: 100%;
  align-items: center;
  letter-spacing: 0.03em;
  color: #EFEFEF;
}

p.fullname {
    position: absolute;
    left: 70px;
    top: 315px;
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
    align-items: center;
    letter-spacing: 0.03em;
    color: #EFEFEF;
}

p.twitter {
   position: absolute;
   left: 70px;
   top: 350px;
   font-style: normal;
   font-weight: normal;
   font-size: 25px;
   line-height: 100%;
   align-items: center;
   letter-spacing: 0.03em;
   color: #EE7B90;
}

.photo1 {
    position: absolute;
    height: 220px;
    width: 150px;
    left: 500px;
    top: 140px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 10px; 
}

.photo1 img {
    border-radius: 10px; 
    width:100%;
    height: 100%;
    vertical-align: middle;
}

.photo2 {
    position: absolute;
    height: 220px;
    width: 150px;
    left: 700px;
    top: 140px;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

.photo2 img { 
    border-radius: 10px;
    width:100%;
    height: 100%;
    vertical-align: middle;
}

.photo3 {
    position: absolute;
    height: 220px;
    width: 150px;
    left: 900px;
    top: 140px;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

.photo3 img { 
    border-radius: 10px;
    width:100%;
    height: 100%;
    vertical-align: middle;
}

.photo4 {
    position: absolute;
    height: 220px;
    width: 150px;
    left: 1100px;
    top: 140px;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

.photo4 img { 
    border-radius: 10px;
    width:100%;
    height: 100%;
    vertical-align: middle;
}

.photo5 {
    position: absolute;
    height: 220px;
    width: 150px;
    left: 1300px;
    top: 140px;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

.photo5 img { 
    border-radius: 10px;
    width:100%;
    height: 100%;
    vertical-align: middle;
}

.hand img {
    cursor:pointer;
    position: absolute;
    height: 50px;
    width: 49px;
    left: 1850px;
    top: 20px;  
}

#progress {
    position: absolute;
    width: 250px;
    height: 4vh;
    left: 1620px;
    top: 400px;
    border-radius: 20px;
    background-color:#2D657C;
}
  
#bar {
    position: absolute;
    width: 70px;
    height: 4vh;
    left: 0px;
    top: 0px;
    border-radius: 20px;
    background-color: #FFB500;
}

p.xp {
   position: absolute;
   left: 1620px;
   top: 360px;
   font-size: 35px;
   line-height: 100%;
   letter-spacing: 0.03em;
   color: #EFEFEF;
}

p.level {
    position: absolute;
    left: 3px;
    top: 20px;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.03em;
    color: #EFEFEF;
}







