
<div class="wall-info">
    <div class="arrow"><img src="./assets/go_back.svg" alt="arrow"></div>
    <div class="profile"></div>

    <h2>{{users[0]?.username}}</h2>
    <h1>Top Photos</h1>

    <p class="fullname">Fullname Goes Here</p>
    <p class="twitter">@TwitterUsername</p>
    

    <div class="photo1"><img src="./assets/user-photo.gif" alt="photo1"></div>
    <div class="photo2"><img src="./assets/user-photo.gif" alt="photo1"></div>
    <div class="photo3"><img src="./assets/user-photo.gif" alt="photo1"></div>
    <div class="photo4"><img src="./assets/user-photo.gif" alt="photo1"></div>
    <div class="photo5"><img src="./assets/user-photo.gif" alt="photo1"></div>

    <div class="hand">
      <img src="./assets/hand.svg" alt="hand for leap">
    </div>

    <p class="xp">{{xp}}</p>
    <div id="progress">
        <div id="bar">
           <p class="level">{{level}}</p>
        </div>
    </div>
</div>
