εγω
.flex{
  display: flex;
}
.pd-2{
  padding-top: 2%;

}
.ju-center{
  justify-content: center;
}
.dot-container{
  display: flex;
  height: 10vh;
  justify-content: center;

}

.dot-container > div{
  margin-left: 20px;
}


.bottom{
  width: 100%;
  position: absolute;
  /* left:50%; */
  text-align: center;
  top:90%
}

.image-container{
  position: absolute;
  left:39%;
  transition-duration: 1s;
}

.image-container>img{
  max-width: 90vw;
  position: absolute;
}

.left{
  position: absolute;
  left:10%;
  display: flex;
  flex-direction: column;
  transition-duration: 1s;
}

.right{
  display: flex;
  flex-direction: column;
  transition-duration: 1s;
  position: absolute;
  left:80%;
}

.liked{
  /*transition-duration:1s ;*/
  animation: likedAnim 1s 1;
  animation-direction: normal;
  left:2000px;
  /*transition: all 1s ease-in-out;*/
  /*-webkit-transition-duration: 2s;*/
  /*left:500px;*/
  /*filter: blur(1000px);*/
  /*display: none;*/

}

.disliked{
  animation: dislikedAnim 1s 1;
  animation-direction: normal;
  left:-2000px;
}
.image{
  position:absolute;
  transition: all 1s ease-in;
  /*transition-duration: 2s;*/
}

.image:hover{
  transition: all 1s ease-in;

}
/* dots */

.non-active{
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: block;
  color: brown;
  border-radius: 100px;
  background-color: #336971;
  /* content: ""; */

}

.active{
  background-color: #FFB500;
}



@keyframes likedAnim {
  0%   { left: 0px; }
  50%   {left: 2000px;}
  100%  {display: none;}

}


@keyframes dislikedAnim {
  0%   { left: 0px; }
  50%   {left: -2000px;}
  100%  {display: none;}

}
