<div  class = "flex ju-center pd-2">
  <div class="dot-container" >
    <div *ngFor="let d of dotArray" class="non-active" >
     
      
    </div>
      <!-- <circle r="5" cx="5" cy = "5" fill="#336971" class="active" /> -->
    <!-- </svg> -->
  </div>



</div>


<div class = "left" id="dislike">
    <img src="assets/tabler_arrow-ramp-right.svg">
    <img src="assets/bi_x-circle.svg">
</div>

<div class = "right" id="like">
  <img src="assets/tabler_arrow-ramp-right-1.svg">
  <img src="assets/octicon_heart-fill-16.svg">
</div>



<div class="flex ju-center image-container">
  <img class="image" src="assets/Rectangle%2069.png" width="450" >
  <img class="image" src="assets/Rectangle%2069.png" width="450" >
  <img class="image" src="assets/Rectangle%2069.png" width="450" >
  <img class="image" src="assets/Rectangle%2069.png" width="450" >
  <img class="image" src="assets/Rectangle%2069.png" width="450" >
  <img class="image" src="assets/Rectangle%2069.png" width="450" >
  <img class="image" src="assets/Rectangle%2069.png" width="450" >
</div>


<div class ="bottom">
  <h1>
    TITLE
  </h1>
</div>
