button{
    background-color: #345D6D;
    border: none;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.25);
    width: 100px;
}

button:focus, button:active{
    text-decoration: none;
    outline: none;
    background-color: initial;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
}